@page
@model ProjetASI.Pages.Factures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nouvelle</h1>

<h4>Facture pour la commande @ViewBag.Commande.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Facture.CommandeId" value="@ViewBag.Commande.Id" />
            <div class="form-group">
                <label asp-for="Facture.CaissierId" class="control-label"></label>
                <select asp-for="Facture.CaissierId" class ="form-control" asp-items="ViewBag.Caissiers"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Commandes/Index">Retourner à la liste des commandes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
